html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}


body {
  font-family: 'Lato', sans-serif;
  background-image: url('https://img.clipartfest.com/8ff5dc9248e9462b5789dece12189af6_cloudy-sky-background-by-sky-with-clouds-background-clipart_1600-863.png');
  background-position: center top;
  background-size: cover;
  margin: 0;
}

a {
  color: #204156;
  text-decoration: none;
}

.page-title {
	font-size: 44px;
	text-shadow: 1px 1px white;
   color:#05346b;
  text-align: center;
  font-weight: 100;
}

.page-description {
	color:#030d4f;
  border: 1px solid #000;
  margin: 2px;
  text-align: center;
  padding: 30px;
}

.gallery {
  display:flex;
  flex-wrap:wrap;
  margin-top: 20px;
  justify-content:center;
}


.gallery-item {
  margin: 20px;
}

.gallery-item .thumbnail {
  height:200px;
  width:300px;
  border: 5px solid #fff;
}

/* FOOTER NAVIGATION */

nav {
  background-color: #FFF;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0 10px;
}

nav ul {
  display: inline;
}

.contact-btn {
  float: right;
}

.contact-btn a {
  position:relative;
  cursor:pointer;
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;

}

.contact-btn a:active {
 top: 2px;
}

nav a {
  height: 60px;
  line-height: 60px;
  color: #204156;
  text-decoration: none;
}

